body {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 8vh;
}

.flex-container {
  display: flex;
  justify-content: center;
}
